*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background-image: linear-gradient(260deg, #ff4b4b 0%, #b16d6d94 100%); */
  background-color: rgb(51, 51, 51);
}

.App {
  text-align: center;
  margin: 0;
  font-family: Oswald;
  box-sizing: border-box;
}

.App-header {
  background-color: rgb(184, 73, 73);
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  font-size: calc(5px + 2vmin);
  letter-spacing: 2px;
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.searchBar {
  color: white;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  padding: 8px;
}

.searchBar p {
  padding-right: 1%;
  font-weight: bold;
}

.results {
  display: flex;
  flex-direction: column;
  color: white;
  width: 75%;
}

.nominations {
  margin: 1%;
  width: 25%;
  height: 300px;
  border: 1px solid grey;
}

button {
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  margin: 2%;
}

button:hover {
  /* box-shadow: 0 0 0.25em 0.25em rgb(90, 90, 90); */
  background-color: rgb(94, 94, 94);
  color: white;
}
