.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.searchBar {
  margin: 1%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  margin: 1%;
  width: 25%;
  height: 300px;
  border: 1px solid grey;
}

.nominations {
  margin: 1%;
  width: 25%;
  height: 300px;
  border: 1px solid grey;
}
