*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(51, 51, 51);
}

.App {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.App-header {
  background-color: rgb(184, 73, 73);
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  font-size: calc(5px + 2vmin);
  letter-spacing: 2px;
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.searchBar {
  color: white;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar p {
  padding-right: 1%;
}

.results {
  color: white;
  margin: 1%;
  width: 25%;
  height: 300px;
  border: 1px solid grey;
}

.nominations {
  margin: 1%;
  width: 25%;
  height: 300px;
  border: 1px solid grey;
}

button {
  cursor: pointer;
  margin: 2%;
}
